includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
